<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= process.env.title %></title>

<% if(process.env.manifest){ %>
  <link rel="manifest" href="/component/manifest.json">
<% }else{ %>
  <link rel="manifest" href="/manifest.json">
<% } %>


<% if(process.env.config.favicon){ %>
	<link rel="shortcut icon" href="<%= process.env.config.favicon %>">
<% }else{ %>
	<link rel="shortcut icon" href="https://res.cloudinary.com/easybusiness/image/upload/v1658346170/favicon/favicon_ooxjx2.ico">
<% } %>

<meta name="description" content="">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Atfiliate">
<link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
<meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
<meta name="msapplication-TileColor" content="#2F3BA2">

<link rel="stylesheet" media="screen" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.20/angular-material.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400">
<link rel="stylesheet" href="styles/screen.css">
<link rel="stylesheet" href="/component/site.css">

<!-- Site Config -->
<% if(process.env.config){ %>
<script>
  window.config = <%- process.env.config %>;
</script>
<% } %>

<!-- Logrocket Tracking -->
<% if(process.env.logrocket){ %>
<script src="https://cdn.lr-ingest.io/LogRocket.min.js" crossorigin="anonymous"></script>
<script>window.LogRocket && window.LogRocket.init('<%= process.env.logrocket %>');</script>
<% } %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<% if(process.env.gtag){ %>
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.gtag %>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%= process.env.gtag %>');
</script>
<% }else{ %>
<script>
  window.gtag = (a,b,c)=>{
    console.log('You need to configure analytics: process.env.gtag')
  }
</script>
<% } %>